
//////////////////////////////
// layout
//////////////////////////////
.container{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @include media('sp'){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.pcnon{
    display: none;
    @include media('sp'){
        display: block;
    }
}

.spnon{
    display: block;
    @include media('sp'){
        display: none;
    }
}


