//////////////////////////////
// newsList
//////////////////////////////
.newsList {
  position: relative;
  z-index: 2;
  flex: 1;

  &::before {
    content: '';
    display: block;
    width: calc(50vw + 305px);
    height: 1px;
    background-color: #efefef;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__item {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: calc(50vw + 305px);
      height: 1px;
      background-color: #efefef;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__itemInner {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 30px 0 30px 30px;

    @include media() {
      padding: 20px 0;
    }

    &:hover {
      &::after {
        content: '';
        display: block;
        width: calc(50vw + 305px);
        height: 100%;
        background-color: #faf8f4;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  &__itemFig {
    width: 220px;
    position: relative;
    z-index: 1;

    @include media() {
      width: 100px;
      aspect-ratio: 200 / 70;
      object-fit: cover;
      min-width: 100px;
    }
  }

  &__itemImg {
    border-radius: 8px;
    aspect-ratio: 220 / 150;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__itemText {
    flex: 1;
    padding-left: 50px;
    position: relative;
    z-index: 1;

    @include media() {
      padding-left: 10px;
    }
  }

  &__itemTextInfo {
    display: flex;
    align-items: center;
  }

  &__itemTextInfoDate {
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 10px;
    letter-spacing: 0.1em;

    @include media() {
      font-size: 1rem;
    }
  }

  &__itemTextInfoNew {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 26px;
    border-radius: 26px;
    background-color: #f7857f;
    margin-right: 10px;

    @include media() {
      font-size: 1rem;
      width: 42px;
      height: 20px;
      padding: 0 0 1px;
      min-width: 42px;
    }
  }

  &__itemTextInfoCategory {
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 10px;
    border: 1px solid #232323;
    padding: 0 12px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    @include media() {
      font-size: 1rem;
      padding: 0 10px 1px;
      height: 20px;
      margin-right: 0;
    }
  }

  &__itemTextTitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    margin-top: 15px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include media(ipad) {
    }

    @include media() {
      font-size: 1.4rem;
      line-height: lh(28, 42);
      margin-top: 7px;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
