<footer class="footer">
    <div class="footer__container container">
        <div class="footer__info">
            <p class="footer__logo">
                <a class="footer__logoLink" href="./">
                    <img class="footer__logoImg" src="./images/logo_black.svg" alt="株式会社 長良園">
                </a>
            </p>
            <dl class="footer__address">
                <dt class="footer__addressDt">株式会社 長良園</dt>
                <dd class="footer__addressDd">〒500-8287 <br class="pcnon">岐阜県岐阜市北鶉4-30</dd>
            </dl>
            <div class="footer__ex">
                <ul class="footer__exList">
                    <li class="footer__exItem">
                        <a class="footer__exLink footer__exLink_type_store" href="http://nagaraen-shop.com/">オンラインストア</a>
                    </li>
                    <li class="footer__exItem">
                        <a class="footer__exLink footer__exLink_type_instagram" href="https://www.instagram.com/nagaraen.official/">INSTAGRAM<small class="footer__exLinkSm">（菓匠 長良園）</small></a>
                    </li>
                    <li class="footer__exItem">
                        <a class="footer__exLink footer__exLink_type_instagram" href="https://www.instagram.com/wellnesstree.official/">INSTAGRAM<small class="footer__exLinkSm">（Wellness Tree）</small></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__nav fNav">
            <div class="fNav__list">
                <div class="fNav__item">
                    <dl class="fNav__dl">
                        <dt class="fNav__dt">
                            <a class="fNav__dtLink" href="./about/">長良園について</a>
                            <dd class="fNav__dd">
                                <ul class="fNav__ddList">
                                    <li class="fNav__ddItem">
                                        <a class="fNav__ddLink" href="./about/#section01">ミッション</a>
                                    </li>
                                    <li class="fNav__ddItem">
                                        <a class="fNav__ddLink" href="./about/#section02">代表挨拶</a>
                                    </li>
                                    <li class="fNav__ddItem">
                                        <a class="fNav__ddLink" href="./about/#section03">会社概要</a>
                                    </li>
                                    <li class="fNav__ddItem">
                                        <a class="fNav__ddLink" href="./about/#section04">長良園の物語</a>
                                    </li>
                                </ul>
                            </dd>
                        </dt>
                    </dl>
                </div>
                <div class="fNav__item">
                    <ul class="fNav__links">
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="./product/">商品情報</a>
                        </li>
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="./product/nagaraen/">菓匠 長良園</a>
                        </li>
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="./product/nagaraen-wellness/">nagaraen Wellness</a>
                        </li>
                    </ul>
                </div>
                <div class="fNav__item">
                    <ul class="fNav__links">
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="./news/">最新情報</a>
                        </li>
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="./recruit/">採用情報</a>
                        </li>
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="./contact/">お問い合わせ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottomContainer container">
            <p class="footer__bottomPrivacy">
                <a class="footer__bottomPrivacyLink" href="./privacypolicy/">プライバシーポリシー</a>
            </p>
            <p class="footer__bottomCopyright">
                <small class="footer__bottomCopyrightText">© nagaraen co.,Ltd.</small>
            </p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="./js/main.js"></script>
<script src="./js/index.js"></script>
</body>
</html>