@charset 'utf-8';
@use 'sass:math';
//////////////////////////////
// bar,mixin
//////////////////////////////

$responsive: (
    'se': 'screen and (max-width: 321px)',
    'se2': 'screen and (max-width: 376px)',
    'xr': 'screen and (max-width: 414px)',
    'iphone': 'screen and (max-width: 390px)',
    'promax': 'screen and (max-width: 430px)',
    'smSpm': 'screen and (max-width: 38px)',
    'spm': 'screen and (max-width: 480px)',
    'ovSp': 'screen and (min-width: 768px)',
    'sp': 'screen and (max-width: 768px)',
    'ipad': 'screen and (max-width: 960px)',
    'smTab': 'screen and (max-width: 1000px)',
    'sTab': 'screen and (max-width: 1060px)',
    'osTab': 'screen and (min-width: 1061px)',
    'tab': 'screen and (max-width: 1160px)',
    'lTab': 'screen and (max-width: 1260px)',
    'olTab': 'screen and (min-width: 1261px)',
    'ovTab': 'screen and (min-width: 1191px)',
    'withinTab': 'screen and (max-width: 1160px)',
    'lt': 'screen and (max-width: 1265px)',
    'nav': 'screen and (max-width: 1300px)',
    'lpc': 'screen and (max-width: 1336px)',
    'recruit': 'screen and (max-width: 1360px)',
    'about': 'screen and (max-width: 1460px)',
    'pc': 'screen and (max-width: 1480px)',
    'ovPc': 'screen and (min-width: 1460px)',
    '4k': 'screen and (max-width: 2560px)',
) !default;
@mixin media($breakpoint: sp) {
    @media #{map-get($responsive, $breakpoint)} {
        @content;
    }
}

$font-zen-kaku-gothic: 'zen-kaku-gothic-new', 'Zen Kaku Gothic New', sans-serif;

$font-primary: 'Zen Old Mincho', serif;

@mixin bg-cover($url) {
    background: url(#{$url}) no-repeat center center / cover;
}

@function lh($font-size, $line) {
    @return math.div($line, $font-size);
}

@function vw($size, $width: 1460) {
    @return math.div($size, $width) * 100vw;
}

@function vwTab($size, $width: 1160) {
    @return math.div($size, $width) * 65vw;
}

@function vwSp($size, $width: 750) {
    @return math.div($size, $width) * 100vw;
}

//////////////////////////////
// import
//////////////////////////////
@import '~html5-reset';
@import '_base';
@import '_variables';
@import '_animation';
@import '_performance';
@import '../components/_tokens.scss';
@import '../components/_uiBase.scss';
@import '../components/_uiSection.scss';
@import '../components/_uiButton.scss';
@import '../components/_uiCard.scss';
@import '../components/_uiGrid.scss';
@import '../components/_uiHeading.scss';
@import '../components/_uiText.scss';
@import '../components/_uiTextLink.scss';
@import '../components/_uiForm.scss';
@import '../components/_uiHero.scss';
@import '../components/_uiHeroThreejs.scss';
@import '../components/_uiCtaBand.scss';
@import '../components/_uiFaq.scss';
@import '../components/_uiFeatureList.scss';
@import '../components/_uiStepList.scss';
@import '../components/_uiHeader.scss';
@import '../components/_uiTable.scss';
@import '../components/_uiList.scss';
@import '../components/_uiFooter.scss';
@import '../components/_uiBadge.scss';
@import '../components/_uiAlert.scss';
@import '../components/_uiModal.scss';
@import '../components/_uiTabs.scss';
@import '../components/_uiBreadcrumb.scss';
@import 'components/**/*.scss';
@import 'common/**/*.scss';
@import 'pages/**/*.scss';

.show_page_loading::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
}
